.form {
  text-align: center;
}

.controls {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin:0 auto 0.4rem;
  width: 90%;
}

.controls input {
  outline: none;
  border: 1px solid var(--validInput);
  border-radius: 3px;
}

.controls input:hover,
.controls input:active{
  background-color: var(--validInput);
}

.actions button {
  border:2px solid #1a237e;
  padding: 0.3rem 1.5rem;
  border-radius: 12px;
  cursor: pointer;
}

.actions button:disabled {
  background-color: gray;
  border: 1px solid white;
}
.inValid input{
  border-color: var(--inValidInput);
  background-color: var(--inValidInput);
}
.text_error,.inValid label  {
  color: var(--inValidInput);
}


@media screen and (max-width:552px) {
  .controls {
    width: 100%;
    gap: 0.2rem;
  }
  
}